:host { display: block; }

.footer {
  background: var(--light-gray);
  border-top: 1px solid var(--border-color);
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: var(--secondary-text);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.footer-link {
  display: flex;
  gap: 16px;
}

.content a {
  color: var(--secondary-text);
  text-decoration: none;
}

.content a:hover {
  color: var(--accent-color);
  cursor: url("/arrowhead-rounded-outline-1.svg"),auto;
}

